venv/*
var/*
*.pyc
3env/
.tox/
.cache/
.eggs/
onecodex.egg-info/
build/
dist/
.coverage
htmlcov/
.DS_Store
.python-version
*.ipynb
.pytest_cache/*
Pipfile*
.idea/
node_modules
.vscode/
geckodriver.log
package.json
package-lock.json
test-report-generated.pdf
