repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3
      args: ["-l 100", "--exclude vendored/*"]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0  # Use the ref you want to point at
    hooks:
    -   id: trailing-whitespace
    -   id: flake8
    -   id: end-of-file-fixer
