# base
potion-client==2.5.1
requests>=2.9
click>=6.6
six>=1.10.0
boto3>=1.4.2
requests_toolbelt>=0.7.0

# extensions
numpy>=1.11.0
pandas>=0.20.0,<0.21.0
matplotlib>=1.5.1
networkx>=1.11
seaborn==0.8
sklearn
scikit-bio==0.4.2
raven>=6.1.0

# testing
tox
flake8
testfixtures
responses
coverage
pytest==3.0.5
mock==2.0.0
pytest-cov==2.4.0
coveralls==1.1
tox-pyenv==1.0.3
