workflows:
  version: 2
  all-tests:
    jobs:
      - test-py3
      - test-py2
      - test-minimal
      - test-simplejson
      - coverage
      - lint

version: 2
jobs:
  test-py3:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run:
          name: Install Python deps in virtual environment
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --progress-bar=off numpy
            pip install --progress-bar=off .[all,testing]
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            py.test -v tests/
  test-py2:
    docker:
      - image: circleci/python:2.7-stretch
    steps:
      - checkout
      - run:
          name: Install Python deps in virtual environment
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install --progress-bar=off numpy
            pip install --progress-bar=off .[all,testing]
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            py.test -v tests/
  test-minimal:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run:
          name: Install Python deps in virtual environment
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install --progress-bar=off .[testing]
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            py.test -v tests/
  test-simplejson:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run:
          name: Install Python deps in virtual environment
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install --progress-bar=off numpy
            pip install --progress-bar=off simplejson
            pip install --progress-bar=off .[all,testing]
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            py.test -v tests/
  lint:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run:
          name: Install Python deps in virtual environment
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install --progress-bar=off .[testing]
      - run:
          name: Run flake8
          command: |
            . venv/bin/activate
            flake8 --ignore E501 --exclude onecodex/schemas/* onecodex/
            flake8 --ignore E501 --exclude onecodex/schemas/* tests/
  coverage:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run:
          name: Install Python deps in virtual environment
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install --progress-bar=off numpy
            pip install --progress-bar=off .[all,testing]
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            py.test -v --cov-report=html --cov=onecodex tests/
            coveralls

