name: Build Docs (+ publish on master)
on:
  push:
    branches: [master]
  pull_request:
# Cancel any in-progress job or run
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: gh-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pages:
    runs-on: ubuntu-24.04
    environment: ${{ github.ref == 'refs/heads/master' && 'github-pages' || null }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Install pandoc
        uses: awalsh128/cache-apt-pkgs-action@v1.4.3
        with:
          packages: pandoc
      - id: deployment
        uses: sphinx-notes/pages@v3
        with:
          documentation_path: ./docs
          requirements_path: ./docs/requirements.txt
          cache: true
          publish: ${{ github.ref == 'refs/heads/master' }}
