name: wasm-test
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  wasm-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: npm ci
        working-directory: wasm_test_runner
      - name: Run WASM tests
        run: npm run main
        working-directory: wasm_test_runner
